<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1>List TaxType</h1>
  <hr />
  <a class="btn btn-info" th:href="@{/taxTypes/new}">新規追加</a>
  <br /><br />

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Rate</th>
        <th>Tax included</th>
        <th>Rounding</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="taxType : ${listTaxType}">
        <td th:text="${taxType.id}"></td>
        <td th:text="${taxType.rate}"></td>
        <td th:text="${taxType.taxIncluded == 1 ? 'Yes' : 'No'}"></td>
        <td th:text="${taxType.rounding}"></td>
        <td>
          <a class="btn btn-primary" th:href="@{/taxTypes/{id}(id = ${taxType.id})}">詳細</a>
          <a class="btn btn-secondary" th:href="@{/taxTypes/{id}/edit(id = ${taxType.id})}">編集</a>
          <form class="d-inline" th:action="@{/taxTypes/{id}(id = ${taxType.id})}" th:method="delete">
            <button class="btn btn-danger" type="submit">削除</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>

</html>
