/* 一覧 */
.app-table {
  table-layout: fixed;
}

.text-overflow {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* テキストの省略記号 "..." を表示 */
}

/* 詳細 */

a.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

a.btn-link {
  font-weight: 700;
  height: 36px;
}

/* PC */
.app-show-container {
  width: 100%;
}

/* タブレット */
@media (max-width: 768px) {
  /* 一覧 */
  .for-tablet {
    display: none;
  }
  .app-show-container {
    width: 1500px;
    height: 3000px;
  }
}

/* スマホ */
@media (max-device-width: 500px) {
  /* 一覧 */
  .for-pc.for-tablet {
    display: none;
  }

  .app-show-container {
    width: 1500px;
  }
}
